<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niznash.remind"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Remind.Theme"
        >

        <service android:name=".RemindService" />

        <provider
            android:name=".content.RemindProvider"
            android:authorities="com.niznash.remind"
            android:exported="true"
            />

        <activity
            android:name=".ReminderListActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReminderActivity"
            />

    </application>
</manifest>
